<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <div>

      {{ content }}

      </div>
      <div>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </div>
  
  <script type="text/x-mathjax-config">
			  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
			</script>
			<script type="text/javascript" async
			  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
			</script>

			<script>
			  $("script[type='math/tex']").replaceWith(function() {
			      var tex = $(this).text();
			      return katex.renderToString(tex, {displayMode: false});
			  });

			  $("script[type='math/tex; mode=display']").replaceWith(function() {
			      var tex = $(this).html();
			      return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
			  });
			</script>
  </body>
</html>
